@model GarbagePickup.Models.ApplicationUser
@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (!User.IsInRole("Customer"))
{
    { Response.Redirect("~/Home/NoResults"); }
}
<h2>Welcome @Model.UserName</h2>

<p>If you wish to change your profile information cleck here: @Html.ActionLink("Edit Profile", "CustomerProfile", "Roles")</p>

<h3>Profile Information</h3>

<p>First Name: @Model.FirstName</p>

<p>Last Name: @Model.LastName</p>

<p>Address: @Model.StreetAddress</p>

<p>Zip: @Model.Zip</p>

<p>Email: @Model.Email</p>

<h3>Customer Schedule</h3>

<p>If you wish to change your schedule click here. @Html.ActionLink("Schedule", "Schedule", "Roles")</p> 

<p>Current schedule is: @Model.Day for @Model.Weeks weeks.</p>

<p>Price: $10</p>

<p>Total: $ @(Model.Weeks * 10)</p>

<h4>Special Date</h4>

<p>Leaving: @Model.LeavingDate</p>

<p>Returning: @Model.ReturningDate</p>