@model GarbagePickup.Models.ApplicationUser
@{
    ViewBag.Title = "Schedule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Schedule</h2>

<p>Currently it is set to: @Model.Day for @Model.Weeks weeks.  If you are leaving and wish to resume on the return date please specify else leave blank.</p>


@using (Html.BeginForm())
{
<div class="form-group">
    @Html.Label("How many weeks", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
        @Html.TextBoxFor(model => model.Weeks, new { @class = "form-control" })
    </div>
</div>

<div class="form-group">
    @Html.Label("Leaving on", new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.TextBoxFor(model => model.LeavingDate, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.LeavingDate, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.Label("Returning on", new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.TextBoxFor(model => model.ReturningDate, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ReturningDate, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    @Html.Label("Day of the week for pickup", new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownListFor(model => model.Day, new SelectList(Model.Schedules.Select(x => x.Day), "Day"), "", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Day, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" class="btn btn-default" value="Save" />
    </div>
</div>
}